<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="homeTier" Language="2052" Version="0.1.0" Manufacturer="homeTier" UpgradeCode="1952EC1F-8A87-4555-849F-1040A4C5CB9C">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <MajorUpgrade DowngradeErrorMessage="已安装较新版本的 homeTier。" />
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="ProductFeature" Title="homeTier" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="homeTier" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        <!-- 主程序 -->
        <Component Id="homeTier.exe">
          <File Source="$(var.TauriBundleOutput)homeTier.exe" KeyPath="yes" />
        </Component>
        
        <!-- WinPcap/Npcap 运行时依赖 -->
        <Component Id="packet.dll">
          <File Source="resources/bin/packet.dll" KeyPath="yes" />
        </Component>
        <Component Id="wpcap.dll">
          <File Source="resources/bin/wpcap.dll" KeyPath="yes" />
        </Component>
        <Component Id="Packet.dll">
          <File Source="resources/bin/Packet.dll" KeyPath="yes" />
        </Component>
        <Component Id="Wpcap.dll">
          <File Source="resources/bin/Wpcap.dll" KeyPath="yes" />
        </Component>
        
        <!-- 启动快捷方式 -->
        <Component Id="Shortcut">
          <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="homeTier" Target="[INSTALLFOLDER]homeTier.exe" WorkingDirectory="INSTALLFOLDER" />
          <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuFolder" Name="homeTier" Target="[INSTALLFOLDER]homeTier.exe" WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="CleanUp" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\homeTier" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </ComponentGroup>
  </Fragment>
</Wix>