# 三方包 忽略文件

easytier/easytier-gui

easytier/easytier-web

# easytier/easytier-contrib

easytier/tauri-plugin-vpnservice

easytier/assets

easytier/script

easytier/flake.nix
easytier/flake.lock
easytier/.envrc
easytier/android.nix

easytier/.github